#header {
  position: static;
}

#hotel-view {
  margin-top: 4rem;
  padding-left: 32rem;
  padding-right: 32rem;
}

#hotel-view .overview {
  display: flex;
  align-items: center;
  background-color: var(--color-grey-light);
}

#hotel-view .overview__heading {
  font-size: var(--title-size);
  font-weight: 300;
  padding: 2rem 3rem;
}

#hotel-view .overview__location {
  margin-right: auto;

  display: flex;
  align-items: center;
}

#hotel-view .overview__location .location__icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--color-primary-light);
}

#hotel-view .overview__location .location-btn {
  color: var(--color-primary-light);
  font-family: var(--noto-font);
  font-size: var(--medium-size);
  font-weight: 300;
}

.book-btn {
  font-size: var(--medium-size);
  font-weight: 300;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-dark)
  );
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-right: 3rem;
  animation: buttonBlink 0.5s infinite alternate;
}

.book-btn a {
  display: block;
  width: 100%;
}

.book-btn a > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.2s;
  backface-visibility: hidden;
}

.book-btn .btn__visible {
  padding: 1.3rem 6rem;
}

.book-btn .btn__invisible {
  position: absolute;
  padding: 1.3rem 0;
  left: 0;
  top: -100%;
}

.book-btn:hover .btn__visible {
  transform: translateY(100%);
}

.book-btn:hover .btn__invisible {
  top: 0;
}

@keyframes buttonBlink {
  0% {
    background-image: linear-gradient(
      to right,
      var(--color-primary),
      var(--color-primary-dark)
    );
  }
  100% {
    background-image: none;
    background-color: var(--color-primary-light);
  }
}

/*
#hotel-view .overview__rating {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2.25rem;
  background: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-dark)
  );
  color: #fff;
  font-family: var(--noto-font);
}

#hotel-view .overview__rating-average {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: -3px;
  margin-top: -5px;
}

#hotel-view .overview__rating-count {
  font-size: var(--micro-size);
}
*/

#detail {
  padding: 4.5rem 32rem;
  display: flex;
  flex-wrap: wrap;
}

#detail .description {
  flex: 0 0 60%;
  font-size: var(--medium-size);
  font-family: var(--noto-font);
  font-weight: 300;
  margin-right: 4.5rem;
}

#detail .description .paragraph {
  margin-bottom: 1.2rem;
}

#detail .description .list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.5rem;
  padding: 3rem 0;
}

#detail .description .list li {
  margin-right: 1.2rem;
  flex: 0 0 45%;
  margin-bottom: 0.8rem;
  position: relative;
  padding-left: 2.5rem;
  font-size: 1.5rem;
}

#detail .description .list li::before {
  content: "✔";
  display: block;
  font-size: 2.2rem;
  color: var(--color-primary-light);
  position: absolute;
  left: 0;
  top: -5px;
}

#detail .user-reviews {
  flex: 1;
  align-self: flex-start;
  border: 1px solid var(--color-primary);
}

#detail .review {
  margin-bottom: 2.4rem;
  padding: 1.8rem 2.25rem;
}

#detail .user-reviews .review__total {
  font-size: var(--medium-size);
  font-family: var(--noto-font);
  font-weight: 100;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-dark)
  );
  color: #fff;
  margin-bottom: 1.2rem;
  padding: 0.8rem 0;
  padding-right: 3rem;
  text-align: right;
}

#detail .review__total-average {
  font-size: 2.6rem;
}

#detail .user-reviews .review__user {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}
#detail .user-reviews .review__user img {
  width: 5rem;
  height: 5rem;
  border-radius: 100px;
  object-fit: cover;
  margin-right: 1.2rem;
}

#detail .user-reviews .review__user .review__user-box {
  font-family: var(--noto-font);
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: auto;
}

#detail .user-reviews .review__user .review__rating {
  font-size: var(--large-size);
  font-weight: 100;
  color: var(--color-accent);
}

#detail .user-reviews .review__text {
  font-size: var(--medium-size);
  font-family: var(--noto-font);
  font-weight: 300;
}

#detail .review-btn {
  margin-left: 2.25rem;
  font-size: var(--medium-size);
  margin-bottom: 4.5rem;
  border-bottom: 1px solid transparent;
  padding-bottom: 0.8rem;
}

#detail .review-btn span {
  margin-left: 3px;
  transition: margin-left 0.2s;
}

#detail .review-btn:hover span {
  margin-left: 8px;
}

#detail .review-btn:hover {
  border-bottom: 1px solid #000;
}

#detail .maps {
  width: 100%;
  display: flex;
  border: 1px solid var(--color-primary);
  margin-top: 4.5rem;
  height: 50rem;
}

#detail .maps .maps__detail {
  flex: 0 0 50%;
  text-align: center;
  padding: 5.5rem 0 4.5rem;
}

#detail .maps .maps__detail .maps__name {
  font-size: var(--title-size);
  color: var(--color-primary);
  font-weight: 400;
  margin-bottom: 3rem;
}

#detail .maps__address {
  margin-bottom: 5.5rem;
}
/*
#detail .maps__address,
#detail .maps__transportation {
  width: 50%;
  margin: 0 auto;
}*/

#detail .maps__address div,
#detail .maps__transportation {
  font-size: var(--large-size);
  font-family: var(--noto-font);
  font-weight: 300;
  margin-bottom: 2.2rem;
}

#detail .maps .maps__detail span {
  display: block;
  font-size: 2.2rem;
  font-family: var(--serif-font);
  font-weight: 400;
  margin-bottom: 0.8rem;
}

#detail .maps__transportation span {
}

#detail .maps__transportation span::before {
  content: "";
  display: inline-block;
  background: url(../image/subway.png);
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.8rem;
  transform: translateY(0.4rem);
}

#detail .maps .maps__img {
  flex: 0 0 50%;
  overflow: hidden;
}

#detail .maps .maps__img:hover img {
  transform: scale(1.5);
}

#detail .maps .maps__img img {
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(1);
  object-fit: cover;
  transform-origin: 50% 50%;

  transition: 0.4s;
}

/*********************HOTEL PRODUCT************************************************/
#hotel__products {
  margin-bottom: 13rem;
  padding: 4.5rem 32rem;
  background-color: var(--color-grey-light);
}

#hotel__products .booking__check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*border: 1px solid var(--color-primary-dark);*/
  background-color: #fff;
  border-radius: 100px;
  padding: 2rem 3rem;
  margin-bottom: 4.5rem;
}

#hotel__products .booking__check > div:not(:last-child) {
  display: flex;
  flex-direction: column;
}

#hotel__products .booking__check .check-in,
#hotel__products .booking__check .check-out {
}

#hotel__products .booking__check label {
  margin-bottom: 0.8rem;
  font-size: var(--medium-size);
  color: var(--color-primary);
  font-weight: 600;
  line-height: 1em;
}

#hotel__products .booking__check input {
  border: none;
  outline: none;
  background-color: transparent;
  height: 2rem;
  font-size: 1.9rem;
  font-weight: 300;
  color: var(--color-primary-light);
  font-family: var(--noto-font);
}

#hotel__products .booking__check input::placeholder {
  font-size: 1.9rem;
  font-weight: 300;
  color: var(--color-primary-light);
  font-family: var(--noto-font);
}

#hotel__products .booking__check .guest {
}

#hotel__products .product__list > li {
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  position: relative;
  margin-bottom: 2.4rem;
  display: block;
}

#hotel__products .product__list > li .product-box {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  height: 28.2rem;
}

#hotel__products .product__list > li:hover {
  box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.2);
}

#hotel__products .product__list .product__img {
  width: 33.3%;
  height: 100%;
  margin-right: 2.4rem;
}

#hotel__products .product__list .product__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hotel__products .product__info-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#hotel__products .product__info {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

#hotel__products .product__info .product__name {
  font-size: var(--title-size);
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 1.2rem;
}

#hotel__products .product__info .product__info--title {
  font-size: var(--medium-size);
  font-family: var(--noto-font);
  font-weight: 300;
  color: #000;
  position: relative;
  display: inline-block;
  margin-bottom: 0.8rem;
}

#hotel__products .product__info .product__info--title:hover span {
  background-color: rgba(136, 148, 180, 0.349);
}

#hotel__products .product__info .product__info--title span {
  display: inline-block;
  font-size: 2.2rem;
  color: #000;
  border-radius: 50%;
  padding: 2px 7px;
  line-height: 2.2rem;
  transform: translateY(2px);
  cursor: pointer;
}

#hotel__products .product__info .product__info--content {
  font-size: var(--medium-size);
  font-family: var(--noto-font);
  font-weight: 300;
  color: var(--color-grey-dark);
}

#hotel__products .product__info .product__info--content {
  margin-bottom: auto;
}

#hotel__products .product__info .product__info--content > li {
  display: flex;
  align-items: center;
}

#hotel__products .product__info .product__info--content li .info__icon {
  width: 2.2rem;
  height: 2.2rem;
  fill: var(--color-grey);
  display: inline-block;
  margin-right: 0.5rem;
}

#hotel__products .package {
  display: flex;
}
#hotel__products .package button {
  border: 0.2rem solid var(--color-primary);
  display: flex;
  align-items: center;
  padding: 1.1rem;
  margin-right: 0.8rem;
  cursor: default;
}

#hotel__products .package svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-primary);
  margin-right: 0.8rem;
}

#hotel__products .package span {
  color: var(--color-primary);
  font-family: var(--noto-font);
  font-size: var(--medium-size);
  font-weight: 400;
}
/*
#hotel__products .product__info .product__info--benefit {
  display: flex;
}

#hotel__products .product__info .product__info--benefit > div {
  margin-right: 3px;
  background-color: var(--color-accent);
  color: #fff;
  font-size: var(--small-size);
  font-family: var(--noto-font);
  font-weight: 300;
  padding: 3px 8px;
}*/

#hotel__products .price {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-right: 2.4rem;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#hotel__products .price .product__info--benefit {
  position: absolute;
  top: 3rem;
  right: 2.4rem;
}

#hotel__products .price .product__info--benefit > button {
  margin-bottom: 3px;
  background-color: var(--color-accent);
  color: #fff;
  font-size: var(--small-size);
  font-family: var(--noto-font);
  font-weight: 300;
  padding: 3px 8px;
}

#hotel__products .price > div:nth-child(4) {
  margin-bottom: 2.4rem;
}

#hotel__products .price .price-room {
  font-size: var(--title-size);
  font-weight: 500;
  margin-bottom: 2.4rem;
}

#hotel__products .price .price-room span {
  font-size: var(--medium-size);
  font-weight: 100;
  margin-left: 5px;
}

#hotel__products .price-pernight,
#hotel__products .price-tax {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--noto-font);
  line-height: 1.2em;
}

#hotel__products .price-tax {
  margin-bottom: 0.8rem;
}

#hotel__products .price-total {
  border-top: 1px solid var(--color-grey-light);
  padding-top: 2.4rem;
  font-size: var(--large-size);
  font-weight: 500;
  font-family: var(--noto-font);
  margin-bottom: 2.4rem;
}

#hotel__products .booking-button {
  background-color: var(--color-primary);
  width: 100%;
}

#hotel__products .booking-button.active {
  animation: buttonClick 0.5s infinite alternate;
}

@keyframes buttonClick {
  0% {
    background-color: var(--color-primary);
  }
  100% {
    background-color: var(--color-primary-light);
  }
}

#hotel__products .booking-button.small-ver {
  padding: 1.2rem 3rem;
  background-color: var(--color-primary-light);
  border-radius: 100px;
}

#hotel__products .booking-button.small-ver a {
  padding: 0;
}

#hotel__products .booking-button.small-ver:hover {
  background-color: var(--color-primary);
}

#hotel__products .booking-button:hover {
  background-color: var(--color-primary-dark);
}
#hotel__products .booking-button a {
  display: block;
  color: #fff;
  font-size: var(--medium-size);
  font-weight: 100;
  font-family: var(--noto-font);
  padding: 1.1rem 6rem;
  width: 100%;
}

#hotel__products .booking__check .booking__check-btn {
}

.booking__check .search-btn {
  width: 5rem;
  height: 5rem;
  display: none;
}

#hotel__products .content-box {
  display: none;
  position: absolute;
  top: 10rem;
  left: calc(33.3% + 1.6rem);
  background-color: #fff;
  border-radius: 20px;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: 10;
}

#hotel__products .content-box .facility {
  font-size: 1.9rem;
  font-family: var(--noto-font);
  font-weight: 500;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid var(--color-grey);
  margin-bottom: 1.2rem;
  color: #fff;
  background-color: var(--color-primary);
  padding: 1.2rem 2rem;
}

#hotel__products .content-box .grouping {
  display: flex;
  flex-wrap: wrap;
  padding: 1.2rem 2rem;
}

#hotel__products .content-box .grouping > li {
  margin-right: 2.8rem;
  margin-bottom: 2.4rem;
}

#hotel__products .content-box .grouping .grouping__icon {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.8rem;
}

#hotel__products .content-box .grouping span {
  font-size: var(--medium-size);
  font-weight: 300;
  font-family: var(--noto-font);
  margin-bottom: 1.2rem;
  display: inline-block;
}

#hotel__products .content-box .grouping .grouping__depth2 {
  font-size: var(--medium-size);
  font-family: var(--noto-font);
  font-weight: 300;
}

#hotel__products .content-box .grouping .grouping__depth2 li {
  font-size: var(--medium-size);
  line-height: 1.8em;
  position: relative;
  padding-left: 2rem;
}

#hotel__products .content-box .grouping .grouping__depth2 li::before {
  content: "✔";
  display: block;
  font-size: var(--medium-size);
  color: var(--color-primary-light);
  position: absolute;
  left: -0.3rem;
}
/*
#similar {
  padding-left: 32rem;
  padding-right: 32rem;
}

#similar .section__title {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 4.8rem;
}

#similar .similar__prs {
  display: flex;
  justify-content: space-between;
}

#similar .product {
  width: 24%;
  background-color: white;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 3rem 2rem 3rem;
  position: relative;
  text-align: center;
  overflow: hidden;
  backface-visibility: hidden;
  transition: 0.4s;
}

#similar .product .product__review {
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-dark)
  );
  width: 7rem;
  height: 4.5rem;
  position: absolute;
  top: 2.2rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#similar .product .product__review span {
  font-family: var(--noto-font);
  color: #fff;
  font-size: var(--medium-size);
  font-weight: 100;
  margin-top: -3px;
}

#similar .product .product__review .review__count {
  font-size: var(--micro-size);
}

#similar .product .product-img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.2rem;
  transition: 0.4s;
  backface-visibility: hidden;
}

#similar .product .product-img img {
  width: 100%;
  transition: 0.4s;
}

#similar .product .product__content {
  text-align: center;
}
#similar .product .product__content .product__top {
  margin-bottom: 2.4rem;
  transition: 0.4s;
}

#similar .product .product__title {
  font-size: var(--large-size);
  color: var(--color-primary);
  font-weight: 300;
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
  transition: 0.4s;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#similar .product .product__location {
  display: block;
  color: var(--color-primary-light);
  font-size: var(--small-size);
  font-family: var(--noto-font);
  font-weight: 300;
}
/*
#similar .product .product__location:before {
  content: "";
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 0rem;
  background-color: var(--color-primary-light);
  -webkit-mask-image: url(../image/svg/location_on.svg);
  -webkit-mask-size: cover;
  mask-image: url(../image/svg/location_on.svg);
  mask-size: cover;
}

#similar .product .product__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2rem;
}

#similar .product .product__bottom .product__price--b {
  font-size: var(--small-size);
  color: var(--color-grey);
  font-weight: 100;
  position: relative;
}

#similar .product .product__bottom .product__price--b::after {
  content: "";
  display: block;
  width: 6rem;
  height: 0.12rem;
  background-color: var(--color-grey);
  position: absolute;
  top: 1rem;
  left: 0;
}

#similar .product .product__bottom .product__price--c {
  font-size: var(--large-size);
  font-weight: 500;
  color: var(--color-primary);
  transition: 0.4s;
}

#similar .product .product-btn {
  width: 15rem;
  height: 5rem;
  padding: 1.1rem 2.25rem;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-size: var(--medium-size);
  position: absolute;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s;
}

#similar .product .product-btn span {
  position: absolute;
  top: 1.1rem;
  left: 20%;
  z-index: 10;
}

#similar .product .product-btn::after {
  content: "";
  display: block;
  background-color: var(--color-primary);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: 100% 0;
  transition: 0.4s;
}

#similar .product:hover {
  background-color: var(--color-grey-light);
  transform: scaleY(1.01);
  backface-visibility: hidden;
  border-radius: 7px;
}

#similar .product .product-btn:hover::after {
  background-color: var(--color-primary);
  transform-origin: 0 100%;
  transform: scaleY(1);
}

#similar .product .product-btn:hover span {
  color: #fff;
}

#similar .product:hover .product-btn {
  bottom: 2rem;
}

#similar .product:hover .product-img {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.2rem;
}

#similar .product .product-img img {
  width: 100%;
}

#similar .product:hover .product__title {
  font-size: 2.2rem;
  font-weight: 400;
}

#similar .product:hover .product__top {
  margin-bottom: 1.5rem;
}

#similar .product:hover .product__bottom .product__price--c {
  font-size: 1.9rem;
  font-weight: 400;
  color: var(--color-primary);
}*/

@media all and (max-width: 102.4rem) {
  #hotel-view {
    padding-left: 12rem;
    padding-right: 12rem;
  }

  #detail {
    padding-left: 12rem;
    padding-right: 12rem;
  }

  #detail .description {
    flex: 0 0 60%;
    font-size: var(--medium-size);
    font-family: var(--noto-font);
    font-weight: 300;
    margin-right: 4.5rem;
  }

  #hotel__products {
    margin-bottom: 8rem;
    padding-left: 12rem;
    padding-right: 12rem;
  }

  #hotel__products .booking__check {
    padding: 2rem 3rem;
    margin-bottom: 4.5rem;
  }

  #hotel__products .booking__check .check-in,
  #hotel__products .booking__check .check-out {
    width: 30%;
  }

  #hotel__products .booking__check label {
    margin-bottom: 0.8rem;
    font-size: var(--medium-size);
    color: var(--color-primary);
    font-weight: 600;
    line-height: 1em;
  }

  #hotel__products .booking__check input {
    border: none;
    outline: none;
    background-color: transparent;
    height: 2rem;
    font-size: 1.9rem;
    font-weight: 300;
    color: var(--color-primary-light);
    font-family: var(--noto-font);
  }

  #hotel__products .booking-button.small-ver {
    padding: 1.2rem;
    background-color: var(--color-primary-light);
    border-radius: 100px;
  }

  #hotel__products .booking-button.small-ver a {
    padding: 0;
  }

  #hotel__products .booking-button.small-ver:hover {
    background-color: var(--color-primary);
  }

  #hotel__products .booking-button:hover {
    background-color: var(--color-primary-dark);
  }
  #hotel__products .booking-button a {
    display: block;
    color: #fff;
    font-size: var(--medium-size);
    font-weight: 100;
    font-family: var(--noto-font);
    padding: 1.1rem;
    width: 100%;
  }

  .booking-button.small-ver {
    display: none;
  }

  .booking__check .search-btn {
    display: block;
  }

  #hotel__products .product__list > li .product-box {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    height: 28.2rem;
  }

  #hotel__products .product__list > li:hover {
    box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.2);
  }

  #hotel__products .product__list .product__img {
    width: 33.3%;
    height: 100%;
    margin-right: 2.4rem;
  }

  #hotel__products .product__list .product__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #hotel__products .product__info {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: auto;
  }

  #hotel__products .product__info .product__name {
    font-size: var(--large-size);
    margin-bottom: 0.8rem;
  }

  #hotel__products .product__info .product__info--title span {
    display: inline-block;
    font-size: 2.2rem;
    color: #000;
    border-radius: 50%;
    padding: 2px 7px;
    line-height: 2.2rem;
    transform: translateY(2px);
    cursor: pointer;
  }

  #hotel__products .product__info .product__info--content {
    font-size: 1.5rem;
  }

  #hotel__products .product__info .product__info--content li .info__icon {
    width: 2rem;
    height: 2rem;
  }

  #hotel__products .package button {
    border: 0.2rem solid var(--color-primary);
    display: flex;
    align-items: center;
    padding: 1.1rem;
    margin-right: 0.8rem;
    cursor: default;
  }

  #hotel__products .package svg {
    display: none;
  }

  #hotel__products .package span {
    font-size: 1.5rem;
  }

  #hotel__products .price {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-right: 2.4rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #hotel__products .price .product__info--benefit {
    position: absolute;
    top: 3rem;
    right: 2.4rem;
  }

  #hotel__products .price .product__info--benefit > button {
    margin-bottom: 3px;
    background-color: var(--color-accent);
    color: #fff;
    font-size: var(--small-size);
    font-family: var(--noto-font);
    font-weight: 300;
    padding: 3px 8px;
  }

  #hotel__products .price > div:nth-child(4) {
    margin-bottom: 2.4rem;
  }

  #hotel__products .price .price-room {
    font-size: var(--large-size);
    font-weight: 500;
    margin-bottom: 2.4rem;
  }

  #hotel__products .price .price-room span {
    font-size: var(--medium-size);
    font-weight: 100;
    margin-left: 5px;
  }

  #hotel__products .price-pernight,
  #hotel__products .price-tax {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: var(--noto-font);
    line-height: 1.2em;
  }

  #hotel__products .price-tax {
    margin-bottom: 0.8rem;
  }

  #hotel__products .price-total {
    border-top: 1px solid var(--color-grey-light);
    padding-top: 2.4rem;
    font-size: var(--large-size);
    font-weight: 500;
    font-family: var(--noto-font);
    margin-bottom: 2.4rem;
  }
}

/***********************76.8*************************/
/***********************76.8*************************/
/***********************76.8*************************/

@media all and (max-width: 76.8rem) {
  #hotel-view {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  #detail {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  #detail .description {
    flex: 0 0 60%;
    font-size: var(--medium-size);
    font-family: var(--noto-font);
    font-weight: 300;
    margin-right: 4.5rem;
  }

  #detail .maps {
    width: 100%;
    display: flex;
    border: 1px solid var(--color-primary);
    margin-top: 4.5rem;
    height: auto;
  }

  #detail .maps .maps__detail {
    flex: 0 0 50%;
    text-align: center;
    padding: 5.5rem 0 4.5rem;
  }

  #detail .maps .maps__detail .maps__name {
    font-size: var(--large-size);
    margin-bottom: 2.4rem;
  }

  #detail .maps__address {
    margin-bottom: 3rem;
  }
  /*
  #detail .maps__address,
  #detail .maps__transportation {
    width: 50%;
    margin: 0 auto;
  }*/

  #detail .maps__address div,
  #detail .maps__transportation {
    font-size: var(--medium-size);

    margin-bottom: 1.2rem;
  }

  #detail .maps .maps__detail span {
    display: block;
    font-size: 2.2rem;
    font-family: var(--serif-font);
    font-weight: 400;
    margin-bottom: 0.8rem;
  }

  #detail .maps__transportation span::before {
    content: "";
    display: inline-block;
    background: url(../image/subway.png);
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.8rem;
    transform: translateY(0.4rem);
  }

  #detail .maps .maps__img {
    flex: 0 0 50%;
    overflow: hidden;
  }

  #detail .maps .maps__img:hover img {
    transform: scale(1.5);
  }

  #detail .maps .maps__img img {
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1);
    object-fit: cover;
    transform-origin: 50% 50%;

    transition: 0.4s;
  }

  #hotel__products .booking__check input::placeholder {
    font-size: var(--medium-size);
  }

  #hotel__products {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  #hotel__products .product__list > li .product-box {
    display: flex;
    flex-direction: column;
    height: 40rem;
  }

  #hotel__products .product__list .product__img {
    width: 100%;
    height: 40%;
  }

  #hotel__products .product__list .product__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #hotel__products .product__info-box {
    display: flex;
    align-items: stretch;
    height: 100%;
    padding: 0.8rem 2rem;
  }

  #hotel__products .product__info {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  #hotel__products .product__info .product__name {
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }

  #hotel__products .product__info .product__info--title {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }

  #hotel__products .product__info .product__info--title span {
    font-size: var(--medium-size);

    transform: translateY(0);
  }

  #hotel__products .product__info .product__info--content {
    font-size: 1.5rem;
  }

  #hotel__products .product__info .product__info--content > li {
    display: flex;
    align-items: center;
  }

  #hotel__products .product__info .product__info--content li .info__icon {
    width: 1.9rem;
    height: 1.9rem;
  }

  #hotel__products .package button {
    display: flex;
    align-items: center;
    padding: 1.1rem;
    margin-right: 0.8rem;
    cursor: default;
  }

  #hotel__products .package svg {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0;
    display: block;
  }

  #hotel__products .package span {
    display: none;
  }
  /*
  #hotel__products .product__info .product__info--benefit {
    display: flex;
  }
  
  #hotel__products .product__info .product__info--benefit > div {
    margin-right: 3px;
    background-color: var(--color-accent);
    color: #fff;
    font-size: var(--small-size);
    font-family: var(--noto-font);
    font-weight: 300;
    padding: 3px 8px;
  }*/

  #hotel__products .price {
    padding-top: 0;
    padding-bottom: 0.8rem;
    padding-right: 0;
    width: auto;
  }

  #hotel__products .price .product__info--benefit {
    top: 44%;
  }

  #hotel__products .price .product__info--benefit > button {
    margin-bottom: 3px;
    background-color: var(--color-accent);
    color: #fff;
    font-size: var(--small-size);
    font-family: var(--noto-font);
    font-weight: 300;
    padding: 3px 8px;
  }

  #hotel__products .price > div:nth-child(4) {
    margin-bottom: 1.2rem;
  }

  #hotel__products .price .price-room {
    font-size: var(--large-size);
    margin-bottom: 1.2rem;
  }

  #hotel__products .price-tax {
    margin-bottom: 0.8rem;
  }

  #hotel__products .price-total {
    border-top: 1px solid var(--color-grey-light);
    padding-top: 2.4rem;
    font-size: var(--large-size);
    font-weight: 500;
    font-family: var(--noto-font);
    margin-bottom: 2.4rem;
  }

  /*
  #hotel__products .price {
    width: 23%;
  }

  #hotel__products .package__item {
    position: relative;
  }
  #hotel__products .package__item:hover span {
    display: block;
  }

  #hotel__products .package__item svg {
    display: block;
    margin-right: 0;
  }
  #hotel__products .package__item span {
    display: none;
    position: absolute;
    width: 13rem;
    top: -2.5rem;
    left: 50%;
    background-color: var(--color-grey-light);
    border-radius: 7px;
    padding: 1.2rem;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  #hotel__products .price .price-room {
    font-size: 2rem;
    margin-bottom: 2.4rem;
  }

  #hotel__products .price .price-room span {
    font-size: var(--small-size);
    margin-left: 2px;
  }*/
}
